    <!-- Footer -->
    <footer>
        <blockquote class="credit">
            Artwork by <a href="https://twitter.com/zarascomics">Zara</a>, who also makes beautiful illustrative portraiture. Commission her!
        </blockquote>

        <div class="align-left">
            <span class="copyright">&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
        <div class="align-right">
            <ul class="list-inline social-buttons">
                {% for network in site.social %}
                <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                {% endfor %}
            </ul>
            <ul class="list-inline quicklinks">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
