/*
This CSS is diverted through Jekyll's template engine,
so that the data css variables are available.
style.css -> _layouts/style.css -> _includes/css/main.css <- _data/css.yml
*/

html {
	background-color: #{{ site.data.css.color.bg-primary }};
}

/* Navigation Hamburger */
.navigation button{
    position: relative;
    float: right;

    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;

    background-color: #{{ site.data.css.color.bg-secondary }};
    background-image: none;
    border: 1px solid #{{ site.data.css.color.bg-secondary }};
    border-radius: 4px;
}

.toggle-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";

    font-size: 1.25rem;
    line-height: 1;

    padding: .25rem .75rem;

    background: no-repeat center center;
    background-size: 100% 100%;
	background-color: transparent;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba({{ site.data.css.color.darkest | hex_to_rgb | join: ',' }}, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 1px solid transparent;
    border-radius: .25rem;
}
button:focus, button:hover {
    outline: 0;
    border: 1px solid rgba({{ site.data.css.color.darkest | hex_to_rgb | join: ',' }}, .5);
}


