/*
This CSS is diverted through Jekyll's template engine,
so that the data css variables are available.
style.css -> _layouts/style.css -> _includes/css/main.css <- _data/css.yml
*/

html {
    background-color: #{{ site.data.css.color.bg-primary }};
    color: #{{ site.data.css.color.text }};
}

body {
    margin: 0 auto;
    max-width: 40em;
    padding: 2em;
    line-height: 1.4;
}

a#main-logo {
    background: left / contain no-repeat url(/logo/cactus-collective-colour.png);
    display: block;
    height: 6em;
    vertical-align: bottom;
    margin: auto;
    text-indent: 10em;
    font-size: 2em;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    width: 6em;
    overflow: hidden;
    white-space: nowrap;
}

a:link {
    color: #{{ site.data.css.color.primary }};
}

a:visited, a:focus, a:hover {
    color: #{{ site.data.css.color.tertiary }};
}

a:hover {
    color: #{{ site.data.css.color.secondary }};
}

blockquote ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

blockquote {
    padding: 1em;
    margin: 0;
    background: #fff5;
}

footer {
    margin-top: 4em;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: #{{ site.data.css.color.tertiary }}
}

.copyright {
    font-style: italic;
}

.align-left {
    display: inline;
    float: left;
    padding: 0.2em 0;
}

.align-right {
    display: inline;
    float: right;
    padding: 0.2em 0;
}

.list-inline, .list-inline li {
    display: inline;
    margin: 0;
    list-style: none;
    padding: 0;
}

.align-right li {
    margin-left: 0.5em;
}
